<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="browser" value="chrome" />
		<Parameter name="userMail" value="epamtestmail93@mail.ru" />
		<Parameter name="userPass" value="EpamTest185" />
	</TestRunParameters>

	<!-- Configuration for loggers -->
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="True">
				<Configuration>
					<LogFileName>foo.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="html" enabled="True">
				<Configuration>
					<LogFileName>foo.html</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="blame" enabled="True" />
		</Loggers>
	</LoggerRunSettings>

	
</RunSettings>