<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	
	<!-- Configurations that affect the Test Framework -->
	<RunConfiguration>
		<!-- Path relative to directory that contains .runsettings file-->
		<ResultsDirectory>.\TestResults</ResultsDirectory>

		<!-- Path to Test Adapters -->
		<TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>
	</RunConfiguration>
	
	<!-- Parameters used by tests at run time -->
	<TestRunParameters>
		<Parameter name="browser" value="chrome" />
		<Parameter name="userMail" value="epamtestmail93@mail.ru" />
		<Parameter name="userPass" value="EpamTest185" />
	</TestRunParameters>

	<!-- VideoRecorder -->
	<DataCollector uri="datacollector://microsoft/VideoRecorder/1.0" assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder.VideoRecorderDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" friendlyName="Screen and Voice Recorder">
		<!--Video data collector was introduced in Visual Studio 2017 version 15.5 -->
		<Configuration>
			<!-- Set "sendRecordedMediaForPassedTestCase" to "false" to add video attachments to failed tests only -->
			<MediaRecorder sendRecordedMediaForPassedTestCase="true"  xmlns="">
				​
				<ScreenCaptureVideo bitRate="512" frameRate="2" quality="20" />​
			</MediaRecorder>​
		</Configuration>
	</DataCollector>
	
	<!-- Configuration for loggers -->
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="True">
				<Configuration>
					<LogFileName>foo.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="html" enabled="True">
				<Configuration>
					<LogFileName>foo.html</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="blame" enabled="True" />
		</Loggers>
	</LoggerRunSettings>

	
</RunSettings>